.conv{
	font-family: Calibri ;
	font-size: 14px;

}
body{
	text-align: justify;
}
@media all {
   div.saltopagina{
      display: none;
   }
}
   
@media print{
   div.saltopagina{ 
      display:block; 
      page-break-before:always;
   }
}
.im{
    width: 180px; height: 60px;
    position: absolute;
  top:  15px; 
  left: 35px;
}